# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Setup Database Connections

In [7]:
import sqlite3
import pandas as pd
connection = sqlite3.connect('data.sqlite')
cur = connection.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [16]:
#Your code here
cur.execute('''
SELECT firstName, lastName, off.city, off.state from employees emp
LEFT JOIN offices off using (officeCode)
ORDER BY firstName, lastName
''')
employees = pd.DataFrame(cur.fetchall())
employees.columns = [c[0] for c in cur.description]
employees.head()

  firstName lastName           city state
0      Andy   Fixter         Sydney
1   Anthony      Bow  San Francisco    CA
2     Barry    Jones         London
3     Diane   Murphy  San Francisco    CA
4  Foon Yue    Tseng            NYC    NY

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [24]:
# Your code here
cur.execute('''
SELECT customerName, orderNumber, orderDate, status from customers cust
LEFT JOIN orders off using (customerNumber)
WHERE orderNumber is NOT NULL
ORDER BY customerName, orderDate
''')
cust_purchases = pd.DataFrame(cur.fetchall())
cust_purchases.columns = [c[0] for c in cur.description]
cust_purchases

                     customerName orderNumber   orderDate     status
0                  AV Stores, Co.       10110  2003-03-18    Shipped
1                  AV Stores, Co.       10306  2004-10-14    Shipped
2                  AV Stores, Co.       10332  2004-11-17    Shipped
3                    Alpha Cognac       10136  2003-07-04    Shipped
4                    Alpha Cognac       10178  2003-11-08    Shipped
5                    Alpha Cognac       10397  2005-03-28    Shipped
6              Amica Models & Co.       10280  2004-08-17    Shipped
7              Amica Models & Co.       10293  2004-09-09    Shipped
8         Anna's Decorations, Ltd       10148  2003-09-11    Shipped
9         Anna's Decorations, Ltd       10169  2003-11-04    Shipped
10        Anna's Decorations, Ltd       10370  2005-01-20    Shipped
11        Anna's Decorations, Ltd       10391  2005-03-09    Shipped
12              Atelier graphique       10123  2003-05-20    Shipped
13              Atelier graphique       10298  2004-09-27    Shipped
14              Atelier graphique       10345  2004-11-25    Shipped
15   Australian Collectables, Ltd       10193  2003-11-21    Shipped
16   Australian Collectables, Ltd       10265  2004-07-02    Shipped
17   Australian Collectables, Ltd       10415  2005-05-09   Disputed
18     Australian Collectors, Co.       10120  2003-04-29    Shipped
19     Australian Collectors, Co.       10125  2003-05-21    Shipped
20     Australian Collectors, Co.       10223  2004-02-20    Shipped
21     Australian Collectors, Co.       10342  2004-11-24    Shipped
22     Australian Collectors, Co.       10347  2004-11-29    Shipped
23    Australian Gift Network, Co       10152  2003-09-25    Shipped
24    Australian Gift Network, Co       10174  2003-11-06    Shipped
25    Australian Gift Network, Co       10374  2005-02-02    Shipped
26           Auto Associés & Cie.       10216  2004-02-02    Shipped
27           Auto Associés & Cie.       10304  2004-10-11    Shipped
28              Auto Canal+ Petit       10211  2004-01-15    Shipped
29              Auto Canal+ Petit       10252  2004-05-26    Shipped
..                            ...         ...         ...        ...
296     The Sharp Gifts Warehouse       10400  2005-04-01    Shipped
297     The Sharp Gifts Warehouse       10407  2005-04-22    On Hold
298       Tokyo Collectables, Ltd       10258  2004-06-15    Shipped
299       Tokyo Collectables, Ltd       10339  2004-11-23    Shipped
300       Tokyo Collectables, Ltd       10372  2005-01-26    Shipped
301       Tokyo Collectables, Ltd       10408  2005-04-22    Shipped
302       Toms Spezialitäten, Ltd       10191  2003-11-20    Shipped
303       Toms Spezialitäten, Ltd       10310  2004-10-16    Shipped
304          Toys of Finland, Co.       10155  2003-10-06    Shipped
305          Toys of Finland, Co.       10299  2004-09-30    Shipped
306          Toys of Finland, Co.       10377  2005-02-09    Shipped
307             Toys4GrownUps.com       10145  2003-08-25    Shipped
308             Toys4GrownUps.com       10189  2003-11-18    Shipped
309             Toys4GrownUps.com       10367  2005-01-12   Resolved
310         UK Collectables, Ltd.       10302  2003-10-06    Shipped
311         UK Collectables, Ltd.       10253  2004-06-01  Cancelled
312         UK Collectables, Ltd.       10403  2005-04-08    Shipped
313               Vida Sport, Ltd       10225  2004-02-22    Shipped
314               Vida Sport, Ltd       10287  2004-08-30    Shipped
315               Vitachrome Inc.       10102  2003-01-10    Shipped
316               Vitachrome Inc.       10237  2004-04-05    Shipped
317               Vitachrome Inc.       10324  2004-11-05    Shipped
318      Volvo Model Replicas, Co       10112  2003-03-24    Shipped
319      Volvo Model Replicas, Co       10320  2004-11-03    Shipped
320      Volvo Model Replicas, Co       10326  2004-11-09    Shipped
321      Volvo Model Replicas, Co       10334  2004-11-19    On Hold
322   West Coast Collectables Co.       10199  2003-12-01    Shipped
323   West Coast Collectables Co.       10215  2004-01-29    Shipped
324             giftsbymail.co.uk       10232  2004-03-20    Shipped
325             giftsbymail.co.uk       10316  2004-11-01    Shipped

[326 rows x 4 columns]

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [29]:
# Your code here
cur.execute('''
SELECT * from orders ord
LEFT JOIN orderdetails ord_detail using (orderNumber)
ORDER BY orderDate desc
''')
order_detail = pd.DataFrame(cur.fetchall())
order_detail.columns = [c[0] for c in cur.description]
order_detail

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,orderLineNumber
0,10424,2005-05-31,2005-06-08,,In Process,,141,S10_1949,50,201.44,6
1,10424,2005-05-31,2005-06-08,,In Process,,141,S12_1666,49,121.64,3
2,10424,2005-05-31,2005-06-08,,In Process,,141,S18_1097,54,108.50,5
3,10424,2005-05-31,2005-06-08,,In Process,,141,S18_4668,26,40.25,4
4,10424,2005-05-31,2005-06-08,,In Process,,141,S32_3522,44,54.94,2
5,10424,2005-05-31,2005-06-08,,In Process,,141,S700_2824,46,85.98,1
6,10425,2005-05-31,2005-06-07,,In Process,,119,S10_4962,38,131.49,12
7,10425,2005-05-31,2005-06-07,,In Process,,119,S12_4473,33,95.99,4
8,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2238,28,147.36,3
9,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2319,38,117.82,7
10,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2432,19,48.62,10
11,10425,2005-05-31,2005-06-07,,In Process,,119,S18_3232,28,140.55,8
12,10425,2005-05-31,2005-06-07,,In Process,,119,S18_4600,38,107.76,13
13,10425,2005-05-31,2005-06-07,,In Process,,119,S24_1444,55,53.75,1
14,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2300,49,127.79,9
15,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2840,31,31.82,5
16,10425,2005-05-31,2005-06-07,,In Process,,119,S32_1268,41,83.79,11
17,10425,2005-05-31,2005-06-07,,In Process,,119,S32_2509,11,50.32,6
18,10425,2005-05-31,2005-06-07,,In Process,,119,S50_1392,18,94.92,2
19,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1342,51,91.44,2
20,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1367,25,47.44,1
21,10423,2005-05-30,2005-06-05,,In Process,,314,S18_2949,10,89.15,1
22,10423,2005-05-30,2005-06-05,,In Process,,314,S18_2957,31,56.21,3
23,10423,2005-05-30,2005-06-05,,In Process,,314,S18_3136,21,98.44,2
24,10423,2005-05-30,2005-06-05,,In Process,,314,S18_3320,21,80.36,5
25,10423,2005-05-30,2005-06-05,,In Process,,314,S24_4258,28,78.89,4
26,10420,2005-05-29,2005-06-07,,In Process,,282,S18_1749,37,153.00,5
27,10420,2005-05-29,2005-06-07,,In Process,,282,S18_2248,36,52.06,4
28,10420,2005-05-29,2005-06-07,,In Process,,282,S18_2325,45,116.96,2
29,10420,2005-05-29,2005-06-07,,In Process,,282,S18_4409,66,73.62,6
...,...,...,...,...,...,...,...,...,...,...,...
2966,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S32_2509,35,51.95,11
2967,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S32_3207,49,56.55,4
2968,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S50_1392,33,114.59,7
2969,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141,S50_1514,32,53.31,2
2970,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S10_1949,26,214.30,11
2971,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S10_4962,42,119.67,4
2972,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S12_1666,27,121.64,8
2973,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_1097,35,94.50,10
2974,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2432,22,58.34,2
2975,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2949,27,92.19,12
2976,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_2957,35,61.84,14
2977,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_3136,25,86.92,13
2978,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_3320,46,86.31,16
2979,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_4600,36,98.07,5
2980,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S18_4668,41,40.75,9
2981,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S24_2300,36,107.34,1
2982,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S24_4258,25,88.62,15
2983,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S32_1268,31,92.46,3
2984,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S32_3522,45,63.35,7
2985,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121,S700_2824,42,94.07,6
2986,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,,181,S18_1342,39,95.55,2
2987,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,,181,S18_1367,41,43.13,1
2988,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S18_2325,25,108.06,4
2989,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S18_2795,26,167.06,1
2990,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S24_1937,45,32.53,3
2991,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S24_2022,46,44.35,2
2992,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_1749,30,136.00,3
2993,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_2248,50,55.09,2
2994,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_4409,22,75.46,4
2995,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S24_3969,49,35.29,1

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [31]:
# Your code here
cur.execute('''
SELECT orderNumber, orderDate, customerNumber, productName, productLine, productDescription, MSRP from orders ord
LEFT JOIN orderdetails ord_detail using (orderNumber)
LEFT JOIN products prod using (productCode)
''')
prod_detail = pd.DataFrame(cur.fetchall())
prod_detail.columns = [c[0] for c in cur.description]
prod_detail

,orderNumber,orderDate,customerNumber,productName,productLine,productDescription,MSRP
0,10100,2003-01-06,363,1917 Grand Touring Sedan,Vintage Cars,This 1:18 scale replica of the 1917 Grand Tour...,170.00
1,10100,2003-01-06,363,1911 Ford Town Car,Vintage Cars,"Features opening hood, opening doors, opening ...",60.54
2,10100,2003-01-06,363,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,This 1:18 scale precision die cast replica fea...,92.03
3,10100,2003-01-06,363,1936 Mercedes Benz 500k Roadster,Vintage Cars,This model features grille-mounted chrome horn...,41.03
4,10101,2003-01-09,128,1932 Model A Ford J-Coupe,Vintage Cars,This model features grille-mounted chrome horn...,127.13
5,10101,2003-01-09,128,1928 Mercedes-Benz SSK,Vintage Cars,This 1:18 replica features grille-mounted chro...,168.75
6,10101,2003-01-09,128,1939 Chevrolet Deluxe Coupe,Vintage Cars,This 1:24 scale die-cast replica of the 1939 C...,33.19
7,10101,2003-01-09,128,1938 Cadillac V-16 Presidential Limousine,Vintage Cars,This 1:24 scale precision die cast replica of ...,44.80
8,10102,2003-01-10,181,1937 Lincoln Berline,Vintage Cars,"Features opening engine cover, doors, trunk, a...",102.74
9,10102,2003-01-10,181,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,This 1:18 scale replica is constructed of heav...,53.91
10,10103,2003-01-29,121,1952 Alpine Renault 1300,Classic Cars,Turnable front wheels; steering function; deta...,214.30
11,10103,2003-01-29,121,1962 LanciaA Delta 16V,Classic Cars,Features include: Turnable front wheels; steer...,147.74
12,10103,2003-01-29,121,1958 Setra Bus,Trucks and Buses,"Model features 30 windows, skylights & glare r...",136.67
13,10103,2003-01-29,121,1940 Ford Pickup Truck,Trucks and Buses,"This model features soft rubber tires, working...",116.67
14,10103,2003-01-29,121,1926 Ford Fire Engine,Trucks and Buses,Gleaming red handsome appearance. Everything i...,60.77
15,10103,2003-01-29,121,1913 Ford Model T Speedster,Vintage Cars,This 250 part reproduction includes moving han...,101.31
16,10103,2003-01-29,121,1934 Ford V8 Coupe,Vintage Cars,"Chrome Trim, Chrome Grille, Opening Hood, Open...",62.46
17,10103,2003-01-29,121,18th Century Vintage Horse Carriage,Vintage Cars,Hand crafted diecast-like metal horse carriage...,104.72
18,10103,2003-01-29,121,1917 Maxwell Touring Car,Vintage Cars,"Features Gold Trim, Full Size Spare Tire, Chro...",99.21
19,10103,2003-01-29,121,1940s Ford truck,Trucks and Buses,This 1940s Ford Pick-Up truck is re-created in...,121.08
20,10103,2003-01-29,121,1939 Cadillac Limousine,Vintage Cars,Features completely detailed interior includin...,50.31
21,10103,2003-01-29,121,1962 Volkswagen Microbus,Trucks and Buses,This 1:18 scale die cast replica of the 1962 M...,127.79
22,10103,2003-01-29,121,1936 Chrysler Airflow,Vintage Cars,"Features opening trunk, working steering syst...",97.39
23,10103,2003-01-29,121,1980’s GM Manhattan Express,Trucks and Buses,This 1980’s era new look Manhattan express is ...,96.31
24,10103,2003-01-29,121,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,"This model features, opening doors, detailed e...",64.64
25,10103,2003-01-29,121,1982 Camaro Z28,Classic Cars,Features include opening and closing doors. Co...,101.15
26,10104,2003-01-31,141,1969 Corvair Monza,Classic Cars,"1:18 scale die-cast about 10"" long doors open,...",151.08
27,10104,2003-01-31,141,1957 Chevy Pickup,Trucks and Buses,"1:12 scale die-cast about 20"" long Hood opens,...",118.50
28,10104,2003-01-31,141,1998 Chrysler Plymouth Prowler,Classic Cars,Turnable front wheels; steering function; deta...,163.73
29,10104,2003-01-31,141,1964 Mercedes Tour Bus,Trucks and Buses,Exact replica. 100+ parts. working steering sy...,122.73
...,...,...,...,...,...,...,...
2966,10420,2005-05-29,282,2002 Chevy Corvette,Classic Cars,The operating parts of this limited edition Di...,107.08
2967,10420,2005-05-29,282,1936 Mercedes Benz 500k Roadster,Vintage Cars,This model features grille-mounted chrome horn...,41.03
2968,10421,2005-05-29,124,1928 Mercedes-Benz SSK,Vintage Cars,This 1:18 replica features grille-mounted chro...,168.75
2969,10421,2005-05-29,124,1938 Cadillac V-16 Presidential Limousine,Vintage Cars,This 1:24 scale precision die cast replica of ...,44.80
2970,10422,2005-05-30,157,1937 Lincoln Berline,Vintage Cars,"Features opening engine cover, doors, trunk, a...",102.74
2971,10422,2005-05-30,157,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,This 1:18 scale replica is constructed of heav...,53.91
2972,10423,2005-05-30,314,1913 Ford Model T Speedster,Vintage Cars,This 250 part reproduction includes moving han...,101.31
2973,10423,2005-05-30,314,1934 Ford V8 Coupe,Vintage Cars,"Chrome Trim, Chrome Grille, Opening Hood, Open...",62.46
2974,10423,2005-05-30,314,18th Century Vintage Horse Carriage,Vintage Cars,Hand crafted diecast-like metal horse carriage...,104.72
2975,10423,2005-05-30,314,1917 Maxwell Touring Car,Vintage Cars,"Features Gold Trim, Full Size Spare Tire, Chro...",99.21
2976,10423,2005-05-30,314,1936 Chrysler Airflow,Vintage Cars,"Features opening trunk, working steering syst...",97.39
2977,10424,2005-05-31,141,1952 Alpine Renault 1300,Classic Cars,Turnable front wheels; steering function; deta...,214.30
2978,10424,2005-05-31,141,1958 Setra Bus,Trucks and Buses,"Model features 30 windows, skylights & glare r...",136.67
2979,10424,2005-05-31,141,1940 Ford Pickup Truck,Trucks and Buses,"This model features soft rubber tires, working...",116.67
2980,10424,2005-05-31,141,1939 Cadillac Limousine,Vintage Cars,Features completely detailed interior includin...,50.31
2981,10424,2005-05-31,141,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,"This model features, opening doors, detailed e...",64.64
2982,10424,2005-05-31,141,1982 Camaro Z28,Classic Cars,Features include opening and closing doors. Co...,101.15
2983,10425,2005-05-31,119,1962 LanciaA Delta 16V,Classic Cars,Features include: Turnable front wheels; steer...,147.74
2984,10425,2005-05-31,119,1957 Chevy Pickup,Trucks and Buses,"1:12 scale die-cast about 20"" long Hood opens,...",118.50
2985,10425,2005-05-31,119,1998 Chrysler Plymouth Prowler,Classic Cars,Turnable front wheels; steering function; deta...,163.73
2986,10425,2005-05-31,119,1964 Mercedes Tour Bus,Trucks and Buses,Exact replica. 100+ parts. working steering sy...,122.73
2987,10425,2005-05-31,119,1926 Ford Fire Engine,Trucks and Buses,Gleaming red handsome appearance. Everything i...,60.77
2988,10425,2005-05-31,119,1992 Ferrari 360 Spider red,Classic Cars,"his replica features opening doors, superb det...",169.34
2989,10425,2005-05-31,119,1940s Ford truck,Trucks and Buses,This 1940s Ford Pick-Up truck is re-created in...,121.08
2990,10425,2005-05-31,119,1970 Dodge Coronet,Classic Cars,"1:24 scale die-cast about 18"" long doors open,...",57.80
2991,10425,2005-05-31,119,1962 Volkswagen Microbus,Trucks and Buses,This 1:18 scale die cast replica of the 1962 M...,127.79
2992,10425,2005-05-31,119,1958 Chevy Corvette Limited Edition,Classic Cars,The operating parts of this 1958 Chevy Corvett...,35.36
2993,10425,2005-05-31,119,1980’s GM Manhattan Express,Trucks and Buses,This 1980’s era new look Manhattan express is ...,96.31
2994,10425,2005-05-31,119,1954 Greyhound Scenicruiser,Trucks and Buses,"Model features bi-level seating, 50 windows, s...",54.11
2995,10425,2005-05-31,119,Diamond T620 Semi-Skirted Tanker,Trucks and Buses,This limited edition model is licensed and per...,115.75

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!